In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df_train=pd.read_csv("./train.csv")

In [18]:
df_train

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f110,f111,f112,f113,f114,f115,f116,f117,f118,claim
0,0,0.108590,0.004314,-37.566,0.017364,0.289150,-10.25100,135.12,168900.0,3.992400e+14,...,-12.2280,1.7482,1.90960,-7.11570,4378.80,1.2096,8.613400e+14,140.10,1.01770,1
1,1,0.100900,0.299610,11822.000,0.276500,0.459700,-0.83733,1721.90,119810.0,3.874100e+15,...,-56.7580,4.1684,0.34808,4.14200,913.23,1.2464,7.575100e+15,1861.00,0.28359,0
2,2,0.178030,-0.006980,907.270,0.272140,0.459480,0.17327,2298.00,360650.0,1.224500e+13,...,-5.7688,1.2042,0.26290,8.13120,45119.00,1.1764,3.218100e+14,3838.20,0.40690,1
3,3,0.152360,0.007259,780.100,0.025179,0.519470,7.49140,112.51,259490.0,7.781400e+13,...,-34.8580,2.0694,0.79631,-16.33600,4952.40,1.1784,4.533000e+12,4889.10,0.51486,1
4,4,0.116230,0.502900,-109.150,0.297910,0.344900,-0.40932,2538.90,65332.0,1.907200e+15,...,-13.6410,1.5298,1.14640,-0.43124,3856.50,1.4830,-8.991300e+12,NaN,0.23049,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957914,957914,0.098979,0.202530,2192.100,0.348010,0.276430,-0.84065,2214.20,26246.0,1.061600e+15,...,-51.2970,1.7323,20.76300,14.74400,27415.00,1.2160,2.139400e+13,2612.00,0.42597,0
957915,957915,0.134930,0.413600,1050.100,0.000521,-0.001246,1.76990,3519.90,862290.0,7.321400e+13,...,-41.4180,2.6986,-1.09760,-1.09980,13826.00,1.3320,1.829400e+17,3300.50,0.92974,1
957916,957916,0.104660,0.473510,2415.400,0.252230,0.196970,-0.82323,3044.90,13832.0,2.693300e+12,...,-15.9670,1.6843,1.07590,16.64600,8655.10,1.1113,1.925800e+16,297.61,0.91446,0
957917,957917,0.118190,0.320870,657.860,0.237290,0.260250,-0.71237,173.20,20811.0,9.711000e+14,...,-2.8375,1.3006,132.50000,8.53050,3842.10,1.1941,1.248300e+16,5212.10,0.20942,1
957918,957918,0.088832,0.472230,4309.400,0.017016,0.376880,4.81520,458.20,42183.0,1.805500e+13,...,-24.2290,2.4189,0.67939,NaN,5901.40,1.0907,1.213800e+16,2132.30,0.38069,0

In [19]:
df_y=df_train["claim"]
df_train.drop(columns="claim",inplace=True)
df_train.drop(columns="id",inplace=True)
df_y

0         1
1         0
2         1
3         1
4         1
         ..
957914    0
957915    1
957916    0
957917    1
957918    0
Name: claim, Length: 957919, dtype: int64

In [20]:
from sklearn.impute import SimpleImputer
imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
df_train = imp_median.fit_transform(df_train)

In [21]:
import sklearn
from sklearn.ensemble import RandomForestClassifier
import catboost
from catboost import CatBoostClassifier 
import lightgbm 
from lightgbm import LGBMClassifier
from sklearn.preprocessing import MinMaxScaler
import xgboost
from xgboost import XGBClassifier
from lightgbm import LGBMRegressor

In [22]:
model=LGBMRegressor().fit(df_train,df_y)

In [23]:
df_test=pd.read_csv("./test.csv")
df_test

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f109,f110,f111,f112,f113,f114,f115,f116,f117,f118
0,957919,0.165850,0.487050,1295.00,0.023100,0.31900,0.901880,573.29,3743.7,2.705700e+12,...,0.162530,-22.1890,2.0655,0.430880,-10.7410,81606.00,1.1940,1.980400e+14,2017.10,0.46357
1,957920,0.129650,0.373480,1763.00,0.728840,0.33247,-1.263100,875.55,554370.0,5.955700e+14,...,0.815280,-1.6342,1.5736,-1.071200,11.8320,90114.00,1.1507,4.388000e+16,6638.90,0.28125
2,957921,0.120190,0.445210,736.26,0.046150,0.29605,0.316650,2659.50,317140.0,3.977800e+14,...,0.818310,-32.7800,2.1364,-1.931200,-3.2804,37739.00,1.1548,1.718100e+14,5844.00,0.13797
3,957922,0.054008,0.395960,996.14,0.859340,0.36678,-0.170600,386.56,325680.0,-3.432200e+13,...,0.865590,-2.4162,1.5199,-0.011633,1.3840,26849.00,1.1490,2.138800e+17,6173.30,0.32910
4,957923,0.079947,-0.006919,10574.00,0.348450,0.45008,-1.842000,3027.00,428150.0,9.291500e+11,...,0.251900,-18.6300,3.7387,0.757080,-4.9405,50336.00,1.2488,2.151300e+17,2250.10,0.33796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493469,1451388,-0.009112,0.308190,637.64,0.778200,0.41415,-1.068500,651.22,985000.0,6.079700e+15,...,0.249550,-17.5100,2.3325,0.112260,-5.9238,NaN,1.1559,8.163900e+16,857.09,1.56330
493470,1451389,0.088922,0.482650,6924.10,0.025963,0.35540,-0.870200,2514.20,18004.0,6.073500e+14,...,0.017970,-7.8690,1.7005,97.813000,4.3793,-2432.00,1.0707,4.691800e+16,7497.10,0.67075
493471,1451390,0.140620,0.484750,1797.10,0.147020,0.28803,-1.407100,434.03,333050.0,2.351000e+15,...,0.013841,-5.3824,1.6827,NaN,8.0633,2471.40,1.1725,7.900900e+16,2904.60,0.18005
493472,1451391,0.168000,0.351760,454.79,0.164580,0.16983,0.323850,2331.20,223980.0,-2.795300e+12,...,0.858730,-4.2416,1.3531,155.210000,13.9630,-11.44,1.1946,-1.770600e+14,6763.10,0.33223
493473,1451392,0.093079,0.501860,3322.40,NaN,0.33269,0.056827,2568.70,39185.0,1.489300e+14,...,0.889390,-13.9390,1.4480,-1.512900,-15.4360,662.46,1.1778,2.459300e+15,8770.00,0.95503

In [24]:
df_test.isnull().sum()

id         0
f1      7812
f2      7891
f3      7795
f4      7733
        ...
f114    7942
f115    7977
f116    8083
f117    7763
f118    7885
Length: 119, dtype: int64

In [25]:
df_test_id=df_test["id"]
df_test.drop(columns="id",inplace=True)

In [26]:
imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
df_test = imp_median.fit_transform(df_test)

In [27]:
df_predict=model.predict(df_test)

In [28]:
sub=pd.DataFrame({"id":df_test_id,"claim":df_predict})
sub.to_csv("submission1.csv",index=False)